.button{
  padding: 10px 14px;
  background: white;
  border: 1px solid;
  color: red;
  font-weight: bold;
}
.title{
  color:green;
}
p{
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
/* .workOff{
  font-size: 100px;
  transform: rotate(90deg);
} */
